__pycache__
virtual
covid_detection.ipynb
covidmodel.ipynb
dataset_analysis.ipynb
kaggle.json
Static/Models/covid_vs_normal_model.h5
Static/Models/CovidModelwithLRDecay.h5
Static/Models/CovidModelwithLRDecay.pkl
pickling.py