__pycache__
virtual
covid_detection.ipynb
covidmodel.ipynb
dataset_analysis.ipynb
kaggle.json
Static/Models/old
Static/Models/backups
pickling.py
Static/Models/CovidModelwithLRDecay_kaggle.h5

Static/Uploads/*
!Static/Uploads/.gitkeep